<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DayCareJsonService.Service1Behavior"
        name="DayCareJsonService.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="DayCareJsonService.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareJsonService/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DayCareJsonService.StaffAttendanceHistoryServiceBehavior"
        name="DayCareJsonService.StaffAttendanceHistoryService">
        <endpoint address="" binding="wsHttpBinding" contract="DayCareJsonService.IStaffAttendanceHistoryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareJsonService/StaffAttendanceHistoryService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DayCareJsonService.LoginServiceBehavior"
        name="DayCareJsonService.LoginService">
        <endpoint address="" binding="wsHttpBinding" contract="DayCareJsonService.ILoginService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareJsonService/LoginService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DayCareJsonService.StaffServiceBehavior"
        name="DayCareJsonService.StaffService">
        <endpoint address="" binding="wsHttpBinding" contract="DayCareJsonService.IStaffService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareJsonService/StaffService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DayCareJsonService.ChildAttendenceHistoryServiceBehavior"
        name="DayCareJsonService.ChildAttendenceHistoryService">
        <endpoint address="" binding="wsHttpBinding" contract="DayCareJsonService.IChildAttendenceHistoryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareJsonService/ChildAttendenceHistoryService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DayCareJsonService.ChildServiceBehavior"
        name="DayCareJsonService.ChildService">
        <endpoint address="" binding="wsHttpBinding" contract="DayCareJsonService.IChildService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareJsonService/ChildService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DayCareJsonService.SyncLogServiceBehavior"
        name="DayCareJsonService.SyncLogService">
        <endpoint address="" binding="wsHttpBinding" contract="DayCareJsonService.ISyncLogService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareJsonService/SyncLogService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DayCareJsonService.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="DayCareJsonService.StaffAttendanceHistoryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="DayCareJsonService.LoginServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="DayCareJsonService.StaffServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="DayCareJsonService.ChildAttendenceHistoryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="DayCareJsonService.ChildServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="DayCareJsonService.SyncLogServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
