<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="DayCareBAL.RoleServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.StateServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ChargeCodeServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.StaffServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.UserGroupServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.StaffCategoryServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.AbsentReasonServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.SchoolYearServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ClassCategoryServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ClassRoomServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.RelationshipServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.EnrollmentStausServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.FontServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.HoursOfOperationServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ProgScheduleServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ProgStaffServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ProgClassRoomServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.SchoolProgramServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.FamilyDataServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ChildDataServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ChildAbsentHistoryServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ChildEnrollmentStatusServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ChildScheduleServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.SchoolServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.MyAccountServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ChildFamilyServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.EmploymentStatusServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ChildProgEnrollmentServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.AddEditChildServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.FamilyPaymentServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.SchoolProgramFeesDetailServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.LedgerServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.LedgerOfFamilyBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ChildListServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ChildAttendanceHistoryListServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.StaffAttendanceHistoryListServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.SyncLogServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.AdditionalNotesServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ChildSchoolYearBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="DayCareBAL.ChildSchoolYearServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="DayCareBAL.RoleServiceBehavior"
                name="DayCareBAL.RoleService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IRoleService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/RoleService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.StateServiceBehavior"
                name="DayCareBAL.StateService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IStateService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/StateService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ChargeCodeServiceBehavior"
                name="DayCareBAL.ChargeCodeService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IChargeCodeService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ChargeCodeService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.StaffServiceBehavior"
                name="DayCareBAL.StaffService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IStaffService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/StaffService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.UserGroupServiceBehavior"
                name="DayCareBAL.UserGroupService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IUserGroupService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/UserGroupService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.StaffCategoryServiceBehavior"
                name="DayCareBAL.StaffCategoryService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IStaffCategoryService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/StaffCategoryService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.AbsentReasonServiceBehavior"
                name="DayCareBAL.AbsentReasonService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IAbsentReasonService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/AbsentReasonService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.SchoolYearServiceBehavior"
                name="DayCareBAL.SchoolYearService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.ISchoolYearService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/SchoolYearService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ClassCategoryServiceBehavior"
                name="DayCareBAL.ClassCategoryService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IClassCategoryService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ClassCategoryService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ClassRoomServiceBehavior"
                name="DayCareBAL.ClassRoomService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IClassRoomService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ClassRoomService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.RelationshipServiceBehavior"
                name="DayCareBAL.RelationshipService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IRelationshipService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/RelationshipService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.EnrollmentStausServiceBehavior"
                name="DayCareBAL.EnrollmentStausService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IEnrollmentStausService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/EnrollmentStausService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.FontServiceBehavior"
                name="DayCareBAL.FontService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IFontService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/FontService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.HoursOfOperationServiceBehavior"
                name="DayCareBAL.HoursOfOperationService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IHoursOfOperationService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/HoursOfOperationService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ProgScheduleServiceBehavior"
                name="DayCareBAL.ProgScheduleService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IProgScheduleService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ProgScheduleService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ProgStaffServiceBehavior"
                name="DayCareBAL.ProgStaffService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IProgStaffService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ProgStaffService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ProgClassRoomServiceBehavior"
                name="DayCareBAL.ProgClassRoomService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IProgClassRoomService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ProgClassRoomService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.SchoolProgramServiceBehavior"
                name="DayCareBAL.SchoolProgramService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.ISchoolProgramService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/SchoolProgramService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.FamilyDataServiceBehavior"
                name="DayCareBAL.FamilyDataService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IFamilyDataService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/FamilyDataService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ChildDataServiceBehavior"
                name="DayCareBAL.ChildDataService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IChildDataService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ChildDataService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ChildAbsentHistoryServiceBehavior"
                name="DayCareBAL.ChildAbsentHistoryService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IChildAbsentHistoryService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ChildAbsentHistoryService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ChildEnrollmentStatusServiceBehavior"
                name="DayCareBAL.ChildEnrollmentStatusService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IChildEnrollmentStatusService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ChildEnrollmentStatusService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ChildScheduleServiceBehavior"
                name="DayCareBAL.ChildScheduleService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IChildScheduleService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ChildScheduleService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.SchoolServiceBehavior"
                name="DayCareBAL.SchoolService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.ISchoolService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/SchoolService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.MyAccountServiceBehavior"
                name="DayCareBAL.MyAccountService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IMyAccountService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/MyAccountService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ChildFamilyServiceBehavior"
                name="DayCareBAL.ChildFamilyService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IChildFamilyService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ChildFamilyService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.EmploymentStatusServiceBehavior"
                name="DayCareBAL.EmploymentStatusService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IEmploymentStatusService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/EmploymentStatusService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ChildProgEnrollmentServiceBehavior"
                name="DayCareBAL.ChildProgEnrollmentService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IChildProgEnrollmentService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ChildProgEnrollmentService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.AddEditChildServiceBehavior"
                name="DayCareBAL.AddEditChildService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IAddEditChildService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/AddEditChildService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.FamilyPaymentServiceBehavior"
                name="DayCareBAL.FamilyPaymentService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IFamilyPaymentService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/FamilyPaymentService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.SchoolProgramFeesDetailServiceBehavior"
                name="DayCareBAL.SchoolProgramFeesDetailService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.ISchoolProgramFeesDetailService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/SchoolProgramFeesDetailService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.LedgerServiceBehavior"
                name="DayCareBAL.LedgerService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.ILedgerService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/LedgerService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.LedgerOfFamilyBehavior"
                name="DayCareBAL.LedgerOfFamilyService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.ILedgerOfFamilyService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/LedgerOfFamily/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ChildListServiceBehavior"
                name="DayCareBAL.ChildListService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IChildListService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ChildListService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ChildAttendanceHistoryListServiceBehavior"
                name="DayCareBAL.ChildAttendanceHistoryListService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IChildAttendanceHistoryListService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ChildAttendanceHistoryListService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.StaffAttendanceHistoryListServiceBehavior"
                name="DayCareBAL.StaffAttendanceHistoryListService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IStaffAttendanceHistoryListService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/StaffAttendanceHistoryListService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.SyncLogServiceBehavior"
                name="DayCareBAL.SyncLogService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.ISyncLogService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/SyncLogService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.AdditionalNotesServiceBehavior"
                name="DayCareBAL.AdditionalNotesService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IAdditionalNotesService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/AdditionalNotesService/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ChildSchoolYearBehavior"
                name="DayCareBAL.ChildSchoolYear">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IChildSchoolYear">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ChildSchoolYear/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="DayCareBAL.ChildSchoolYearServiceBehavior"
                name="DayCareBAL.ChildSchoolYearService">
                <endpoint address="" binding="wsHttpBinding" contract="DayCareBAL.IChildSchoolYearService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/DayCareBAL/ChildSchoolYearService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
